# 1. 데이터 생성

In [2]:
# 라이브러리
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action='ignore')

In [48]:
data_origin = pd.read_csv('아파트(전월세)_실거래가_2022_중구.csv', encoding='cp949')
data = data_origin.copy()

data.tail()

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,건축년도,도로명,계약기간,계약구분,갱신요구권 사용,종전계약 보증금 (만원),종전계약 월세 (만원)
2937,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,46.7350,202209,6,"20,000",400,22,2014,다산로46길 17,202210~202410,신규,-,0,0.0
2938,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,전세,147.3212,202209,18,"132,000",0,5,2014,다산로46길 17,-,-,-,NaN,NaN
2939,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,전세,147.3212,202209,18,"132,000",0,5,2014,다산로46길 17,202209~202409,신규,-,0,0.0
2940,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,46.7350,202210,14,"5,000",260,11,2014,다산로46길 17,202210~202410,갱신,사용,"5,000",260.0
2941,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,173.1707,202210,19,"70,000",350,27,2014,다산로46길 17,-,-,-,NaN,NaN

In [49]:
data.reset_index(drop= True, inplace = True)
data.isna().sum()

시군구                0
번지                 0
본번                 0
부번                 0
단지명                0
전월세구분              0
전용면적(㎡)            0
계약년월               0
계약일                0
보증금(만원)            0
월세(만원)             0
층                  0
건축년도               0
도로명                0
계약기간               0
계약구분               0
갱신요구권 사용           0
종전계약 보증금 (만원)    939
종전계약 월세 (만원)     939
dtype: int64

In [50]:
del_cols = ['종전계약 보증금 (만원)','종전계약 월세 (만원)','계약기간','건축년도','계약구분','갱신요구권 사용']
data.drop(axis = 1 , columns=del_cols, inplace=True)
data.tail()

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,도로명
2937,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,46.7350,202209,6,"20,000",400,22,다산로46길 17
2938,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,전세,147.3212,202209,18,"132,000",0,5,다산로46길 17
2939,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,전세,147.3212,202209,18,"132,000",0,5,다산로46길 17
2940,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,46.7350,202210,14,"5,000",260,11,다산로46길 17
2941,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,173.1707,202210,19,"70,000",350,27,다산로46길 17

In [51]:
data = data.loc[data['전월세구분'] == '월세']
data.reset_index(drop= True, inplace=True, )
data.tail()

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,도로명
1365,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,146.9679,202203,31,"10,500",378,28,다산로46길 17
1366,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,46.7350,202208,31,"10,000",250,14,다산로46길 17
1367,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,46.7350,202209,6,"20,000",400,22,다산로46길 17
1368,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,46.7350,202210,14,"5,000",260,11,다산로46길 17
1369,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,173.1707,202210,19,"70,000",350,27,다산로46길 17

In [2]:
# 카카오API를 사용하여 주소->좌표 변환
# blog 
# https://parkgihyeon.github.io/project/geocoding-api/#%EA%B0%9C%EC%9D%B8-key-%EB%B0%9C%EA%B8%89%EB%B0%9B%EA%B8%B0
import requests, json

def get_location(address):
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query=' + address
    # 'KaKaoAK '는 그대로 두시고 개인키만 지우고 입력해 주세요.
    # ex) KakaoAK 6af8d4826f0e56c54bc794fa8a294
    headers = {"Authorization": "KakaoAK 2550728cf88fe76f21185b7b79eddac8"}
    
    try:      
        api_json = json.loads(str(requests.get(url,headers=headers).text))
        address = api_json['documents'][0]['address']
        crd = {"lat": str(address['y']), "lng": str(address['x'])}
        address_name = address['address_name']
        return crd
    except:
        crd = {"lat": 0 , "lng" : 0 }
        return crd

In [3]:
get_location('서운로 197')

{'lat': '37.4994826682747', 'lng': '127.0208201079'}

In [53]:
# 도로명 -> 위경도 칼럼 추가  : 무한 루프

data['위경도'] = data['도로명'].apply(lambda x : get_location(x))
data['위도'] = data['위경도'].apply(lambda x : x['lat'])
data['경도'] = data['위경도'].apply(lambda x : x['lng'])
data.drop(columns='위경도', inplace=True)

data.tail()

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,도로명,위도,경도
1365,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,146.9679,202203,31,"10,500",378,28,다산로46길 17,37.5668675982177,127.017122913186
1366,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,46.7350,202208,31,"10,000",250,14,다산로46길 17,37.5668675982177,127.017122913186
1367,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,46.7350,202209,6,"20,000",400,22,다산로46길 17,37.5668675982177,127.017122913186
1368,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,46.7350,202210,14,"5,000",260,11,다산로46길 17,37.5668675982177,127.017122913186
1369,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,173.1707,202210,19,"70,000",350,27,다산로46길 17,37.5668675982177,127.017122913186

In [54]:
# 총 7개만 0,0 으로 위경도 출력
tmp = data.loc[data['위도']== 0]
tmp

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,도로명,위도,경도
102,서울특별시 중구 만리동2가,176-1,176,1,서울역센트럴자이(임대),월세,39.9541,202201,10,"5,077",15,-3,만리재로,0,0
103,서울특별시 중구 만리동2가,176-1,176,1,서울역센트럴자이(임대),월세,47.4739,202201,18,"4,127",18,2,만리재로,0,0
104,서울특별시 중구 만리동2가,176-1,176,1,서울역센트럴자이(임대),월세,39.9541,202205,23,"20,303",50,10,만리재로,0,0
105,서울특별시 중구 만리동2가,176-1,176,1,서울역센트럴자이(임대),월세,47.4739,202208,18,"4,127",18,12,만리재로,0,0
106,서울특별시 중구 만리동2가,176-1,176,1,서울역센트럴자이(임대),월세,39.9541,202209,14,"30,000",183,8,만리재로,0,0
107,서울특별시 중구 만리동2가,176-1,176,1,서울역센트럴자이(임대),월세,39.9541,202210,6,"50,000",100,5,만리재로,0,0
840,서울특별시 중구 정동,37,37,0,삼정아트테라스정동,월세,32.0134,202201,17,"30,000",45,2,서소문로 89-1,0,0

In [55]:
nulls = data[data['위도']==0]
null_index = list(nulls.index)
null_index

[102, 103, 104, 105, 106, 107, 840]

In [56]:
# 해당 index 부분만 지번번호 사용하여 주소정보 재추출( rough 하게 시군구 주소에서만 따옴 )
for i in null_index:
    tmp = get_location(data['시군구'][i])
    data['위도'][i] = tmp['lat']
    data['경도'][i] = tmp['lng']

# 아직 lat, lng 0,0 인 곳이 있는지 확인
nulls = data[data['위도']==0]
nulls

Empty DataFrame
Columns: [시군구, 번지, 본번, 부번, 단지명, 전월세구분, 전용면적(㎡), 계약년월, 계약일, 보증금(만원), 월세(만원), 층, 도로명, 위도, 경도]
Index: []

In [57]:
data.tail()

,시군구,번지,본번,부번,단지명,전월세구분,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,도로명,위도,경도
1365,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,146.9679,202203,31,"10,500",378,28,다산로46길 17,37.5668675982177,127.017122913186
1366,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,46.7350,202208,31,"10,000",250,14,다산로46길 17,37.5668675982177,127.017122913186
1367,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,46.7350,202209,6,"20,000",400,22,다산로46길 17,37.5668675982177,127.017122913186
1368,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,46.7350,202210,14,"5,000",260,11,다산로46길 17,37.5668675982177,127.017122913186
1369,서울특별시 중구 흥인동,01월 13일,13,1,청계천두산위브더제니스,월세,173.1707,202210,19,"70,000",350,27,다산로46길 17,37.5668675982177,127.017122913186

In [58]:
tmp = data.copy()

In [66]:
# 최종 필요한feature들만 남기기

del_cols = ['시군구','번지','본번','부번','전월세구분','도로명']
data.drop(axis=1 , columns=del_cols, inplace=True)
data

,단지명,전용면적(㎡),계약년월,계약일,보증금(만원),월세(만원),층,위도,경도
0,남산트라팰리스,116.1100,202201,10,"20,000",450,24,37.5539946799726,126.975612746457
1,남산트라팰리스,116.1100,202201,21,"1,000",347,26,37.5539946799726,126.975612746457
2,남산트라팰리스,148.4700,202201,28,0,675,31,37.5539946799726,126.975612746457
3,남산트라팰리스,126.7800,202204,13,0,500,6,37.5539946799726,126.975612746457
4,남산트라팰리스,116.1100,202208,10,0,493,22,37.5539946799726,126.975612746457
...,...,...,...,...,...,...,...,...,...
1365,청계천두산위브더제니스,146.9679,202203,31,"10,500",378,28,37.5668675982177,127.017122913186
1366,청계천두산위브더제니스,46.7350,202208,31,"10,000",250,14,37.5668675982177,127.017122913186
1367,청계천두산위브더제니스,46.7350,202209,6,"20,000",400,22,37.5668675982177,127.017122913186
1368,청계천두산위브더제니스,46.7350,202210,14,"5,000",260,11,37.5668675982177,127.017122913186
1369,청계천두산위브더제니스,173.1707,202210,19,"70,000",350,27,37.5668675982177,127.017122913186

In [67]:
# 데이터 저장
data.to_csv('2022_중구_월세.csv', index=False, encoding="utf-8-sig")

## - 1.2 프로토타입으로 월세데이터 + 가까운 지하철역까지의 거리 + 500m 내 음식점 갯수 를 qgis 를 통해  DataFrame으로 생성

In [3]:
data_2주차 = pd.read_csv('데이터/data_지하철_음식점.csv',)
data_2주차.tail()

,단지명,전용면적,계약년월,계약일,보증금(만),월세(만),층,위도,경도,지하철역,지하철까지거리m,500m내음식점갯수
1365,청계천두산위브더제니스,146.9679,202203,31,"10,500",378,28,37.566868,127.017123,신당역,117.139901,159
1366,청계천두산위브더제니스,46.7350,202208,31,"10,000",250,14,37.566868,127.017123,신당역,117.139901,159
1367,청계천두산위브더제니스,46.7350,202209,6,"20,000",400,22,37.566868,127.017123,신당역,117.139901,159
1368,청계천두산위브더제니스,46.7350,202210,14,"5,000",260,11,37.566868,127.017123,신당역,117.139901,159
1369,청계천두산위브더제니스,173.1707,202210,19,"70,000",350,27,37.566868,127.017123,신당역,117.139901,159

In [70]:
data = data_2주차.copy()

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1370 entries, 0 to 1369
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   단지명         1370 non-null   object
 1   전용면적        1370 non-null   float64
 2   계약년월        1370 non-null   int64
 3   계약일         1370 non-null   int64
 4   보증금(만)      1368 non-null   object
 5   월세(만)       1370 non-null   int64
 6   층           1370 non-null   int64
 7   위도          1370 non-null   float64
 8   경도          1370 non-null   float64
 9   지하철역        1370 non-null   object
 10  지하철까지거리m    1370 non-null   float64
 11  500m내음식점갯수  1370 non-null   int64
dtypes: float64(4), int64(5), object(3)
memory usage: 128.6+ KB

In [74]:
#보증금 은 금리 5%로 하여 
# ( 보증금 *0.05 ) / 12개월 + 월세  = 월 예상 수익
data['기대수익'] = int((data['보증금(만)']*0.05)/12) + data['월세(만)']
data.head()

TypeError: can't multiply sequence by non-int of type 'float'

# 2.단변량 분석