In [1]:
import pandas as pd

In [2]:
dt = pd.read_csv('dt_train.csv')

In [3]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 72 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   단지명                   1094 non-null   object
 1   전용면적                  1094 non-null   float64
 2   계약년도                  1094 non-null   object
 3   계약일                   1094 non-null   int64
 4   위도                    1094 non-null   float64
 5   경도                    1094 non-null   float64
 6   지하철거리                 1094 non-null   float64
 7   계약날짜                  1094 non-null   object
 8   환율                    1094 non-null   float64
 9   500m맛집                1094 non-null   int64
 10  500m문화공간              1094 non-null   int64
 11  500m문화재               1094 non-null   int64
 12  500m쇼핑                1094 non-null   int64
 13  1000m맛집               1094 non-null   int64
 14  1000m문화공간             1094 non-null   int64
 15  1000m문화재              1094 non-null   int64
 16  1000m쇼핑               1094 non-null   int64
 17  가장 가까운 버스정류장까지 거리(m)  1094 non-null   float64
 18  가장 가까운 버스정류장          1094 non-null   object
 19  일일가격                  1094 non-null   float64
 20  층_-1                  1094 non-null   int64
 21  층_1                   1094 non-null   int64
 22  층_2                   1094 non-null   int64
 23  층_3                   1094 non-null   int64
 24  층_4                   1094 non-null   int64
 25  층_5                   1094 non-null   int64
 26  층_6                   1094 non-null   int64
 27  층_7                   1094 non-null   int64
 28  층_8                   1094 non-null   int64
 29  층_9                   1094 non-null   int64
 30  층_10                  1094 non-null   int64
 31  층_11                  1094 non-null   int64
 32  층_12                  1094 non-null   int64
 33  층_13                  1094 non-null   int64
 34  층_14                  1094 non-null   int64
 35  층_15                  1094 non-null   int64
 36  층_16                  1094 non-null   int64
 37  층_17                  1094 non-null   int64
 38  층_18                  1094 non-null   int64
 39  층_19                  1094 non-null   int64
 40  층_20                  1094 non-null   int64
 41  층_21                  1094 non-null   int64
 42  층_22                  1094 non-null   int64
 43  층_23                  1094 non-null   int64
 44  층_24                  1094 non-null   int64
 45  층_25                  1094 non-null   int64
 46  층_26                  1094 non-null   int64
 47  층_27                  1094 non-null   int64
 48  층_28                  1094 non-null   int64
 49  층_29                  1094 non-null   int64
 50  층_30                  1094 non-null   int64
 51  층_31                  1094 non-null   int64
 52  층_32                  1094 non-null   int64
 53  층_33                  1094 non-null   int64
 54  층_34                  1094 non-null   int64
 55  지하철역_동대입구역            1094 non-null   int64
 56  지하철역_동묘앞역             1094 non-null   int64
 57  지하철역_명동역              1094 non-null   int64
 58  지하철역_버티고개역            1094 non-null   int64
 59  지하철역_상왕십리역            1094 non-null   int64
 60  지하철역_서대문역             1094 non-null   int64
 61  지하철역_서울역              1094 non-null   int64
 62  지하철역_시청역              1094 non-null   int64
 63  지하철역_신금호역             1094 non-null   int64
 64  지하철역_신당역              1094 non-null   int64
 65  지하철역_신설동역             1094 non-null   int64
 66  지하철역_약수역              1094 non-null   int64
 67  지하철역_을지로4가역           1094 non-null   int64
 68  지하철역_청구역              1094 non-null   int64
 69  지하철역_충무로역             1094 non-null   int64
 70  지하철역_충정로(경기대입구)역      1094 non-null   int64
 71  지하철역_회현(남대문시장)역       1094 non-null   int64
dtypes: float64(7), int64(61), object(4)
memory usage: 615.5+ KB

In [4]:
dr_cols = ['단지명', '계약년도', '계약일', '경도', '위도', '계약날짜', '500m맛집', '500m문화공간', '500m쇼핑', '500m문화재', '가장 가까운 버스정류장']
dt.drop(dr_cols, axis=1, inplace=True)

In [5]:
x = dt.drop('일일가격', axis=1)
y = dt['일일가격']
x = x-x.min() / (x.max()-x.min())

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import *
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [7]:
model = RandomForestRegressor()
model.fit(x_train, y_train)

RandomForestRegressor()

In [8]:
pred = model.predict(x_test)

In [9]:
print('RMSE:', mean_squared_error(y_test, pred, squared=False))
print(' R2:', r2_score(y_test, pred))

RMSE: 8.763718257372176
 R2: 0.7525295398175924

In [10]:
df = pd.read_csv('dt_test.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 73 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   단지명                   274 non-null    object
 1   전용면적                  274 non-null    float64
 2   계약년도                  274 non-null    object
 3   계약일                   274 non-null    int64
 4   위도                    274 non-null    float64
 5   경도                    274 non-null    float64
 6   지하철거리                 274 non-null    float64
 7   계약날짜                  274 non-null    object
 8   환율                    274 non-null    float64
 9   500m맛집                274 non-null    int64
 10  500m문화공간              274 non-null    int64
 11  500m문화재               274 non-null    int64
 12  500m쇼핑                274 non-null    int64
 13  1000m맛집               274 non-null    int64
 14  1000m문화공간             274 non-null    int64
 15  1000m문화재              274 non-null    int64
 16  1000m쇼핑               274 non-null    int64
 17  가장 가까운 버스정류장까지 거리(m)  274 non-null    float64
 18  가장 가까운 버스정류장          274 non-null    object
 19  금리                    274 non-null    float64
 20  보증금고려월세               274 non-null    float64
 21  층_-1                  274 non-null    int64
 22  층_1                   274 non-null    int64
 23  층_2                   274 non-null    int64
 24  층_3                   274 non-null    int64
 25  층_4                   274 non-null    int64
 26  층_5                   274 non-null    int64
 27  층_6                   274 non-null    int64
 28  층_7                   274 non-null    int64
 29  층_8                   274 non-null    int64
 30  층_9                   274 non-null    int64
 31  층_10                  274 non-null    int64
 32  층_11                  274 non-null    int64
 33  층_12                  274 non-null    int64
 34  층_13                  274 non-null    int64
 35  층_14                  274 non-null    int64
 36  층_15                  274 non-null    int64
 37  층_16                  274 non-null    int64
 38  층_17                  274 non-null    int64
 39  층_18                  274 non-null    int64
 40  층_19                  274 non-null    int64
 41  층_20                  274 non-null    int64
 42  층_21                  274 non-null    int64
 43  층_22                  274 non-null    int64
 44  층_23                  274 non-null    int64
 45  층_24                  274 non-null    int64
 46  층_25                  274 non-null    int64
 47  층_26                  274 non-null    int64
 48  층_27                  274 non-null    int64
 49  층_28                  274 non-null    int64
 50  층_29                  274 non-null    int64
 51  층_30                  274 non-null    int64
 52  층_31                  274 non-null    int64
 53  층_32                  274 non-null    int64
 54  층_33                  274 non-null    int64
 55  층_34                  274 non-null    int64
 56  지하철역_동대입구역            274 non-null    int64
 57  지하철역_동묘앞역             274 non-null    int64
 58  지하철역_명동역              274 non-null    int64
 59  지하철역_버티고개역            274 non-null    int64
 60  지하철역_상왕십리역            274 non-null    int64
 61  지하철역_서대문역             274 non-null    int64
 62  지하철역_서울역              274 non-null    int64
 63  지하철역_시청역              274 non-null    int64
 64  지하철역_신금호역             274 non-null    int64
 65  지하철역_신당역              274 non-null    int64
 66  지하철역_신설동역             274 non-null    int64
 67  지하철역_약수역              274 non-null    int64
 68  지하철역_을지로4가역           274 non-null    int64
 69  지하철역_청구역              274 non-null    int64
 70  지하철역_충무로역             274 non-null    int64
 71  지하철역_충정로(경기대입구)역      274 non-null    int64
 72  지하철역_회현(남대문시장)역       274 non-null    int64
dtypes: float64(8), int64(61), object(4)
memory usage: 156.4+ KB

In [12]:
dr_cols = ['단지명', '계약년도', '계약일', '경도', '위도', '계약날짜', '500m맛집', '500m문화공간', '500m쇼핑', '500m문화재', '가장 가까운 버스정류장']
df.drop(dr_cols, axis=1, inplace=True)

In [13]:
x = df.drop(['금리','보증금고려월세'], axis=1)
y = df['보증금고려월세']
y2 = df['금리']

In [23]:
x

,전용면적,지하철거리,환율,1000m맛집,1000m문화공간,1000m문화재,1000m쇼핑,가장 가까운 버스정류장까지 거리(m),층_-1,층_1,...,지하철역_시청역,지하철역_신금호역,지하철역_신당역,지하철역_신설동역,지하철역_약수역,지하철역_을지로4가역,지하철역_청구역,지하철역_충무로역,지하철역_충정로(경기대입구)역,지하철역_회현(남대문시장)역
0,27.2700,329.285132,1185.5,18,7,4,16,155.763152,0,0,...,0,0,0,0,0,0,0,0,0,0
1,59.7000,86.422853,1199.6,73,29,74,4,66.597995,0,0,...,0,0,0,0,0,0,0,0,1,0
2,71.9832,376.530346,1199.6,67,24,65,4,37.003125,0,0,...,0,0,0,0,0,0,0,0,0,0
3,84.8800,358.131262,1199.6,47,17,24,13,392.934357,0,0,...,0,1,0,0,0,0,0,0,0,0
4,43.0560,200.555682,1202.4,102,32,89,7,114.027357,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,33.6200,533.615752,1325.6,21,7,4,23,99.427746,0,0,...,0,0,0,1,0,0,0,0,0,0
270,52.5900,381.618556,1338.4,50,16,26,30,157.306766,0,0,...,0,0,1,0,0,0,0,0,0,0
271,56.2897,377.943375,1338.4,140,40,99,9,109.108826,0,0,...,0,0,0,0,0,0,0,0,0,0
272,84.8800,153.773224,1340.0,30,13,28,6,38.785797,0,0,...,0,0,0,0,0,0,0,0,0,0
273,18.0824,300.913761,1339.0,143,42,101,11,230.684208,0,0,...,1,0,0,0,0,0,0,0,0,0

In [14]:
new_pred = model.predict(x)

In [15]:
df['예측일일가격'] = new_pred

In [16]:
df.head()

,전용면적,지하철거리,환율,1000m맛집,1000m문화공간,1000m문화재,1000m쇼핑,가장 가까운 버스정류장까지 거리(m),금리,보증금고려월세,...,지하철역_신금호역,지하철역_신당역,지하철역_신설동역,지하철역_약수역,지하철역_을지로4가역,지하철역_청구역,지하철역_충무로역,지하철역_충정로(경기대입구)역,지하철역_회현(남대문시장)역,예측일일가격
0,27.2700,329.285132,1185.5,18,7,4,16,155.763152,1.25,7.239583,...,0,0,0,0,0,0,0,0,0,8.717297
1,59.7000,86.422853,1199.6,73,29,74,4,66.597995,1.25,101.166667,...,0,0,0,0,0,0,0,1,0,20.534948
2,71.9832,376.530346,1199.6,67,24,65,4,37.003125,1.25,124.250000,...,0,0,0,0,0,0,0,0,0,24.433125
3,84.8800,358.131262,1199.6,47,17,24,13,392.934357,1.25,185.208333,...,1,0,0,0,0,0,0,0,0,25.001149
4,43.0560,200.555682,1202.4,102,32,89,7,114.027357,1.25,77.416667,...,0,0,0,0,0,0,0,1,0,12.089063

In [17]:
df['예측월세가격'] = df['예측일일가격'] * 30 * 0.35

In [18]:
df.head()

,전용면적,지하철거리,환율,1000m맛집,1000m문화공간,1000m문화재,1000m쇼핑,가장 가까운 버스정류장까지 거리(m),금리,보증금고려월세,...,지하철역_신당역,지하철역_신설동역,지하철역_약수역,지하철역_을지로4가역,지하철역_청구역,지하철역_충무로역,지하철역_충정로(경기대입구)역,지하철역_회현(남대문시장)역,예측일일가격,예측월세가격
0,27.2700,329.285132,1185.5,18,7,4,16,155.763152,1.25,7.239583,...,0,0,0,0,0,0,0,0,8.717297,91.531617
1,59.7000,86.422853,1199.6,73,29,74,4,66.597995,1.25,101.166667,...,0,0,0,0,0,0,1,0,20.534948,215.616953
2,71.9832,376.530346,1199.6,67,24,65,4,37.003125,1.25,124.250000,...,0,0,0,0,0,0,0,0,24.433125,256.547812
3,84.8800,358.131262,1199.6,47,17,24,13,392.934357,1.25,185.208333,...,0,0,0,0,0,0,0,0,25.001149,262.512068
4,43.0560,200.555682,1202.4,102,32,89,7,114.027357,1.25,77.416667,...,0,0,0,0,0,0,1,0,12.089063,126.935156

In [19]:
df['기존월세가격'] = y

In [20]:
df.tail()

,전용면적,지하철거리,환율,1000m맛집,1000m문화공간,1000m문화재,1000m쇼핑,가장 가까운 버스정류장까지 거리(m),금리,보증금고려월세,...,지하철역_신설동역,지하철역_약수역,지하철역_을지로4가역,지하철역_청구역,지하철역_충무로역,지하철역_충정로(경기대입구)역,지하철역_회현(남대문시장)역,예측일일가격,예측월세가격,기존월세가격
269,33.6200,533.615752,1325.6,21,7,4,23,99.427746,3.25,29.915000,...,1,0,0,0,0,0,0,3.907517,41.028932,29.915000
270,52.5900,381.618556,1338.4,50,16,26,30,157.306766,3.25,113.541667,...,0,0,0,0,0,0,0,23.117398,242.732674,113.541667
271,56.2897,377.943375,1338.4,140,40,99,9,109.108826,3.25,161.708333,...,0,0,0,0,0,0,0,28.884097,303.283021,161.708333
272,84.8800,153.773224,1340.0,30,13,28,6,38.785797,3.25,233.541667,...,0,0,0,0,0,0,0,31.987899,335.872943,233.541667
273,18.0824,300.913761,1339.0,143,42,101,11,230.684208,3.25,77.083333,...,0,0,0,0,0,0,0,17.043090,178.952448,77.083333

In [21]:
df['월수입차액'] = df['예측월세가격'] - df['기존월세가격']

In [22]:
df.head()

,전용면적,지하철거리,환율,1000m맛집,1000m문화공간,1000m문화재,1000m쇼핑,가장 가까운 버스정류장까지 거리(m),금리,보증금고려월세,...,지하철역_약수역,지하철역_을지로4가역,지하철역_청구역,지하철역_충무로역,지하철역_충정로(경기대입구)역,지하철역_회현(남대문시장)역,예측일일가격,예측월세가격,기존월세가격,월수입차액
0,27.2700,329.285132,1185.5,18,7,4,16,155.763152,1.25,7.239583,...,0,0,0,0,0,0,8.717297,91.531617,7.239583,84.292034
1,59.7000,86.422853,1199.6,73,29,74,4,66.597995,1.25,101.166667,...,0,0,0,0,1,0,20.534948,215.616953,101.166667,114.450286
2,71.9832,376.530346,1199.6,67,24,65,4,37.003125,1.25,124.250000,...,0,0,0,0,0,0,24.433125,256.547812,124.250000,132.297812
3,84.8800,358.131262,1199.6,47,17,24,13,392.934357,1.25,185.208333,...,0,0,0,0,0,0,25.001149,262.512068,185.208333,77.303734
4,43.0560,200.555682,1202.4,102,32,89,7,114.027357,1.25,77.416667,...,0,0,0,0,1,0,12.089063,126.935156,77.416667,49.518490

In [31]:
df.sort_values('월수입차액', ascending=False, inplace=True)
df.head()

,전용면적,지하철거리,환율,1000m맛집,1000m문화공간,1000m문화재,1000m쇼핑,가장 가까운 버스정류장까지 거리(m),금리,보증금고려월세,...,지하철역_약수역,지하철역_을지로4가역,지하철역_청구역,지하철역_충무로역,지하철역_충정로(경기대입구)역,지하철역_회현(남대문시장)역,예측일일가격,예측월세가격,기존월세가격,월수입차액
230,147.89,148.070576,1393.6,63,20,29,31,70.234841,2.50,214.583333,...,0,0,1,0,0,0,69.542899,730.200443,214.583333,515.617109
30,176.42,310.774962,1197.8,163,48,118,11,85.659904,1.25,404.166667,...,0,0,0,0,0,1,86.138281,904.451953,404.166667,500.285286
193,148.47,300.405119,1303.1,115,37,95,8,83.499736,2.50,700.000000,...,0,0,0,0,0,0,110.888976,1164.334245,700.000000,464.334245
34,176.42,310.774962,1196.0,163,48,118,11,85.659904,1.25,550.833333,...,0,0,0,0,0,1,95.384826,1001.540677,550.833333,450.707344
56,176.42,310.774962,1202.7,163,48,118,11,85.659904,1.25,422.916667,...,0,0,0,0,0,1,82.501128,866.261849,422.916667,443.345182